[Unit]
Description=Netly Application

After=network.target nginx.service postgresql.service
Requires=nginx.service postgresql.service

[Service]
Restart=always
RestartSec=5
User=root
WorkingDirectory=/opt/app/netly
ExecStart=/usr/bin/java -jar /opt/app/netly/netly-app.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
