[Unit]
Description=Netly Application
After=network.target nginx.service postgresql.service
Requires=nginx.service postgresql.service

[Service]
Restart=always
RestartSec=5
User=root
WorkingDirectory=/opt/app/netly

ExecStart=/usr/bin/java \
  -Xms128m \
  -Xmx512m \
  -XX:+UseG1GC \
  -XX:MaxGCPauseMillis=500 \
  -Xss256k \
  -Xlog:gc*:file=/var/log/netly/gc.log:time,uptime:filecount=5,filesize=10m \
  -Dserver.tomcat.threads.max=20 \
  -jar /opt/app/netly/netly.jar

SuccessExitStatus=143

MemoryHigh=384M
MemoryMax=512M

# LOWER priority (important)
Nice=10
CPUWeight=20

# Allow it to be killed first if needed
OOMScoreAdjust=200

[Install]
WantedBy=multi-user.target
